@import '@/styles/variables';

.panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 120px;

	.auth {
		position: relative;

		> button {
			padding: 2px;
		}

		> ul {
			width: 100px;
			background-color: #fff;
			box-shadow: $box-shadow;
			font-size: 0.75rem;
			text-align: center;

			position: absolute;
			top: calc(100% + 10px);
			left: 50%;
			transform: translateX(-50%);

			> li {
				> a {
					display: block;
					padding: 10px 5px;
					transition: background-color 0.4s ease-in-out;

					&:hover {
						background-color: darken(#fff, 10%);
					}
				}
			}
		}
	}

	> button {
		padding: 2px;
		position: relative;

		> div {
			width: 13px;
			height: 13px;
			padding-left: 1px;
			border-radius: 50%;
			background-color: $validate;

			font-weight: 500;
			color: #fff;

			position: absolute;
			bottom: calc(0% - 2px);
			right: calc(0% - 1px);
		}
	}

	@media (max-width: 860px) {
		max-width: 60px;
	}
}
