$white: #efeef6;
$purple-light: #9e98dc;
$pink: #ff8fe6;
$pink-light: #ffe0e2;
$black: rgba(28, 42, 57, 1);
$gray: rgba(92, 106, 121, 1);
$purple: rgba(76, 61, 178, 1);
$box-shadow: 0 24px 36px rgba(#353154, 0.28);
$btn-hover: #eeedf5;
$validate: #ff353a;
