@import '@/styles/variables';

.field {
	padding: 10px;
	border: 1px solid $purple;
	color: $purple;

	&::placeholder {
		opacity: 0.7;
	}

	&.validate {
		border-color: $validate;
		color: $validate;
	}
}
